*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    background-image: url(/images/pattern-background-desktop.svg);
    
}
h1,p{
font-size: 80%;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 1rem;
    width: 300px;
    height: 98%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.container > img{
    width: 100%;
}
.container h1,p{
    text-align: center;
    margin: .5rem;
}
.info{
    position: absolute;
}
.container .container-info > img{
    margin: 1rem 1rem;
    position: relative;
    width: 15%;
}
.container-info .info{
margin-top:1rem;
display: inline;
}

h5,h6{
position: relative;
}
.Change{
    background-color: transparent;
    border: none;
}
.container-info > .Change{
    position: relative;
    margin-top: 1rem;
    display: inline;
    float: right;
    } 
    button:hover{
        cursor: pointer;
    }

button{
    margin: .5rem;
}

.blue-button, .cancel-button{

    margin-left: 30%;
    border: none;
    border-radius: 5px;
    padding: 3px;
    display: block;
}
.blue-button{
    background-color: blue;
    color: white;
}


